<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Oracle"
       connectionString="Persist Security Info=False;User ID=test_epweb_cms;Password=testcms;Data Source=ESVCDB2;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="basedirectory" value="D:\Development\cms_test\"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="frontend-path" value="http://intranet/epweb_test/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="frontend-ar-path" value="http://intranet/epweb_test/_ar/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="frontend-en-path" value="http://intranet/epweb_test/_en/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://intranet/epg/cms_repo_test/ws/ar"  binding="basicHttpBinding" bindingConfiguration="ICMSRepositoryWSServiceSoapBinding" contract="RepoService.Arabic.ICMSRepositorySEI" name="ICMSRepositorySEIPort"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://intranet/epg/cms_repo_test/ws/en" binding="basicHttpBinding" bindingConfiguration="ICMSRepositoryWSServiceSoapBinding1" contract="RepoService.English.ICMSRepositorySEI" name="ICMSRepositorySEIPort1"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>