@{
    ViewBag.Title = "Contact";
}

<div id="toolbar-box">
    <div class="m">
        <div class="toolbar-list" id="toolbar">
            <ul>
            </ul>
            <div class="clr"></div>
        </div>
        <div class="pagetitle icon-48-article">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
</div>
<div id="system-message-container">
</div>
<div id="element-box">
    <div class="m">

        <section class="contact">
            <header>
                <h3>Phone</h3>
            </header>
            <p>
                <span class="label">Main:</span>
                <span>(+971)528785483</span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Email</h3>
            </header>
            <p>
                <span class="label">IT Support:</span>
                <span><a href="mailto:jojy.alex@emiratespost.ae">jojy.alex@emiratespost.ae</a></span>
            </p>
            <p>
                <span class="label">Web Master:</span>
                <span><a href="mailto:faisalsa@emiratespost.ae">faisalsa@emiratespost.ae</a></span>
            </p>
            <p>
                <span class="label">Third Party Provider :</span>
                <span><a href="mailto:jojy.alex@andryan.com">jojy.alex@andryan.com</a></span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Address</h3>
            </header>
            <p>
                E-Services,
                <br />
                IT Department,<br />
                Emirates Post
            </p>
        </section>
    </div>
</div>

