<div class="pagination" >
   @* <div class="limit">
        Display #<select id="limit" name="limit" class="inputbox" size="1" onchange="EP.submitform();">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20" selected="selected">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="0">All</option>
        </select>
    </div>
    <div class="button2-right">
        <div class="start"><a href="#" title="Start" onclick="document.adminForm.limitstart.value=0; EP.submitform();return false;">Start</a></div>
    </div>
    <div class="button2-right">
        <div class="prev"><a href="#" title="Prev" onclick="document.adminForm.limitstart.value=0; EP.submitform();return false;">Prev</a></div>
    </div>
    <div class="button2-left">
        <div class="page">
            <a href="#" title="1" onclick="document.adminForm.limitstart.value=0; EP.submitform();return false;">1</a><span>2</span><a href="#" title="3" onclick="document.adminForm.limitstart.value=40; EP.submitform();return false;">3</a><a href="#" title="4" onclick="document.adminForm.limitstart.value=60; EP.submitform();return false;">4</a>
        </div>
    </div>
    <div class="button2-left">
        <div class="next"><a href="#" title="Next" onclick="document.adminForm.limitstart.value=40; EP.submitform();return false;">Next</a></div>
    </div>
    <div class="button2-left">
        <div class="end"><a href="#" title="End" onclick="document.adminForm.limitstart.value=60; EP.submitform();return false;">End</a></div>
    </div>
    <div class="limit">Page 2 of 4</div>
    <input type="hidden" name="limitstart" value="20">*@
</div>
