<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ICMSRepositoryWSServiceSoapBinding" />
                <binding name="ICMSRepositoryWSServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://intranet/epg/cms_repo_test/ws/ar" binding="basicHttpBinding"
                bindingConfiguration="ICMSRepositoryWSServiceSoapBinding"
                contract="RepoService.Arabic.ICMSRepositorySEI" name="ICMSRepositorySEIPort" />
            <endpoint address="http://intranet/epg/cms_repo_test/ws/en" binding="basicHttpBinding"
                bindingConfiguration="ICMSRepositoryWSServiceSoapBinding1"
                contract="RepoService.English.ICMSRepositorySEI" name="ICMSRepositorySEIPort1" />
        </client>
    </system.serviceModel>
</configuration>